<form action="/forgotPass/verifyEmail" method="post">
    <p><%= locals.error %></p>
<p>Enter email</p>
<input type="email" placeholder="enter the email" name="emailFP">
<button type="submit">submit</button>
</form>