<%- include('./partials/loginHead.ejs') %>

<body>
  <div class="bg-image">
    <div class="section">
      <div class="container d-flex flex-colum justify-content-center">
        <div class="card " style="width: 30rem; border-radius: 1.25rem;">
          <div class="card-body" style="    padding: 1rem 3rem">
            <div class="card-title-div text-center">
            <h1 style="font-family: 'Fasthand', cursive;" class="card-title mt-4 mb-4">SignUp</h1>
            </div>
              <h6 class="text-center text-danger"><%= locals.error %></h6>
            <form action="/signUp" method="post" id="formValidation">
              <form>
                <div class="form-inputs mb-2">
                  <label for="exampleInputUserName1" class="form-label mb-0">User Name</label>
                  <input type="text" class="form-control" id="exampleInputUserName1" name="name" placeholder="Enter your User Name" >
                  <label id="exampleInputUserName1-error" class="error text-danger" for="exampleInputUserName1"></label>
                </div>
                <div class="form-inputs mb-2">
                  <label for="exampleInputEmail1" class="form-label mb-0">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" name="email" placeholder="Enter your Email" >
                  <label id="exampleInputEmail1-error" class="error text-danger" for="exampleInputEmail1"></label>
                </div>
                <div class="form-inputs mb-2">
                  <label for="exampleInputMobile1" class="form-label mb-0">Mobile NO:</label>
                  <input type="number" class="form-control" id="exampleInputMobile1" name="phone" placeholder="Enter your Mobile NO:" >
                  <label id="exampleInputMobile1-error" class="error text-danger" for="exampleInputMobile1"></label>
                </div>
                <div class="form-inputs mb-2">
                  <label for="exampleInputPassword1" class="form-label mb-0">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Enter your Password">
                  <label id="exampleInputPassword1-error" class="error text-danger" for="exampleInputPassword1"></label>
                </div>
                <div class="form-inputs mb-3">
                  <label for="exampleInputCmfPassword1" class="form-label mb-0">Password</label>
                  <input type="password" class="form-control" id="exampleInputCmfPassword1" name="cfmpassword" placeholder="ReEnter your Password">
                  <label id="exampleInputCmfPassword1-error" class="error text-danger" for="exampleInputCmfPassword1"></label>
                </div>
                <div class="form-button text-center mb-3">
                <button type="submit" class="btn btn-success">Submit</button>
                </div>
                <div class="d-flex justify-content-end">
                  <p>You have any account?<a href="/login"><span>Login</span></a></p>
                  </div>
              </form>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
    <style>
      p{
        font-size: 13px;
      }
      a{
        text-decoration: none;
      }
    </style>
<script>
       $(document).ready(function () {
      $.validator.addMethod("noSpace", function (value, element) {
        return this.optional(element) || /^[a-zA-Z0-9]+$/.test(value);
      }, "Name must contain characters or numbers without spaces.");

      $("#formValidation").validate({
        rules: {
          name: {
            required: true,
            minlength: 2,
            noSpace: true
          },
          email: {
            required: true,
            email: true,
          },
          phone: {
            required: true,
            minlength: 10,
            maxlength: 10
          },
          password: {
            required: true,
            minlength: 4
          },
          cfmpassword:{
            required:true,
            minlength:4,
            equalTo: '[name="password"]'
          }
        },
        messages: {
          name: {
            required: "Please enter your User Name",
            minlength: "Name atleast 2 charcters",
            noSpace: "Name contain number or characters"
          },
          email: {
            required: "Please enter your email",
            email: "Please enter a valid email address",

          },
          phone: {
            required: "Please enter your Mobile NO:",
            minlength: "Mobile NO: must contain 10 numbers",
            maxlength: "Mobile NO: maximum contain 10 numbers"
          },
          password: {
            required: "Please enter your password",
            minlength: "password must contain 4 letters",
            remote: "Incorrect password"
          },
          cfmpassword:{
            required:"Please reEnter your password",
            minlength:"Password must contain 4 letters",
            equalTo:"Password Not same"
          }
        },
      });
    });
</script>
<%- include('./partials/script.ejs') %>
</body>
</html>