
.bg-image{
    background-image: url(https://images.unsplash.com/photo-1649520937981-763d6a14de7d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Zm9vdGJhbGwlMjBqZXJzZXklMjBjb2xsZWN0aW9uc3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=600&q=60);
    background-size: cover;
}
.section{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.image{
    width: 100%;
    height: 100%;
}
.error{
    font-size: 12px;
}
@media (max-width: 500px) {
    p{
        font-size: 10px;
    }
}
