.section{
    height: 100vh;
}
.navbar{
    height: 20vh;
}
.nav-item a:hover{
    color:blue;
}
.nav-item a{
    color: black;
}
.brand{
    background-color: black;
}
.section-2{
    height: 115vh;
}